<div class="container">

    <div class="card">

        <h2>Change Password</h2>

        <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="onSubmit()">

            <label>Current Password</label>

            <input
                type="password"
                formControlName="currentPassword">

            <small
            *ngIf="changePasswordForm.get('currentPassword')?.invalid &&
                   changePasswordForm.get('currentPassword')?.touched">

                Current Password is required

            </small>

            <label>New Password</label>

            <input
                type="password"
                formControlName="newPassword">

            <small
            *ngIf="changePasswordForm.get('newPassword')?.invalid &&
                   changePasswordForm.get('newPassword')?.touched">

                Minimum 6 characters

            </small>

            <label>Confirm Password</label>

            <input
                type="password"
                formControlName="confirmPassword">

            <small
            *ngIf="changePasswordForm.get('confirmPassword')?.invalid &&
                   changePasswordForm.get('confirmPassword')?.touched">

                Confirm Password is required

            </small>

            <button type="submit">

                Update Password

            </button>

        </form>

    </div>

</div>