<div class="container">

    <div class="card">

        <h2>Employee Details</h2>

        <div class="row">

            <label>ID</label>

            <p>{{employee?.emp_id}}</p>

        </div>

        <div class="row">

            <label>Name</label>

            <p>{{employee?.first_name}}</p>

        </div>

        <div class="row">

            <label>Email</label>

            <p>{{employee?.email}}</p>

        </div>

        <div class="row">

            <label>Department</label>

            <p>{{employee?.department}}</p>

        </div>

        <div class="row">

            <label>Designation</label>

            <p>{{employee?.designation}}</p>

        </div>

        <div class="row">

            <label>Salary</label>

            <p>{{employee?.salary}}</p>

        </div>

    </div>

</div>