<div class="sidebar">

    <ul>

        <li>

            <a
                routerLink="/dashboard/employees"
                routerLinkActive="active">

                Employees

            </a>

        </li>

        <li>

            <a
                routerLink="/dashboard/profile"
                routerLinkActive="active">

                Profile

            </a>

        </li>

        <li>

            <a
                routerLink="/dashboard/change-password"
                routerLinkActive="active">

                Change Password

            </a>

        </li>

    </ul>

</div>